<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5" style="background-color: #8898aa; border-radius: 15px;">
                <div class="text-center mb-4">
                  <h2>Sign up !</h2>
                </div>
                <form>
                  <div class="form-group">
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                      </div>
                          <% f.label :email %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=> "field form-control", :placeholder=> "Email" %>                        
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                      </div>
                        <% f.label :password %>
                        <%= f.password_field :password, autocomplete: "new-password", :class=> "field form-control", :placeholder=> "Password" %>
                      </div>
                    <div class="text-primary font-italic"><small>(6 characters minimum)</small></div>
                  </div>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                    </div>
                      <% f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=> "field form-control", :placeholder=> "Password Confirmation" %>
                  </div>
                  <br><br>
                  <div class="text-center">
                    <%= f.submit "Create an account", :class=> "actions btn btn-secondary" %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>