<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>




      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5" style="background-color: #8898aa; border-radius: 15px;">
                <div class="text-center mb-4">
                  <small>Sign up</small>
                </div>
                <form>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                      </div>
                          <% f.label :email %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                      </div>
                        <div class="field">
                          <% f.label :password %>
                          <%= f.password_field :password, autocomplete: "new-password" %>
                        </div>
                    </div>
                    <div class="text-primary font-italic"><small>(6 characters minimum)</small></div>
                  </div>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                    </div>
                      <div class="field">
                        <% f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                      </div>
                  </div>

                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister"><span>I agree with the <a href="#">Privacy Policy</a></span></label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                      <div class="actions">
                        <%= f.submit "Sign up" %>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
