<p> Voici l'id de la landing : <%= @landing.id %> </p>
<p> Voici le survey id associé à la landing : <%= @landing.survey_id %> </p>

<strong>Title :</strong><%= @survey.title %><br>
<% @survey.questions.each do |question| %>
<%= question.content %><br>
<% end %>

<% @survey.answers.each do |answer| %>
<%= answer.value %>
<% end %>