<%= simple_form_for(@answer) do |f| %>
<%= f.error_notification %>

<ul>
    <% @answer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>


<div class="container pt-lg-md">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h2><%= @question.content %></h2>
          </div>
          <div class="text-center">
            <p> Rate this questions :</p>
            <%= f.select :value, options_for_select(1..4) %>
            <%= f.hidden_field :question_id, :value => @question.id %>
            <%= f.hidden_field :survey_id, :value => @survey %>
          </div>
        </div>
          <%= f.button :submit, 'Rate', class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
<% end %>