<section class="py-5 bg-secondary" style="min-height: 84%">

<% if flash[:destroy] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="alert-inner--icon"><i class="fas fa-check-square"></i></span>
    <span class="alert-inner--text"><strong>Success!</strong> Survey was successfully deleted !</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:create_email] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="alert-inner--icon"><i class="fas fa-check-square"></i></span>
    <span class="alert-inner--text"><strong>Success!</strong> Email was successfully send !</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

  <h1 class="text-center">Your Surveys</h1>

  <table class="table col-8 text-center center"  style="border-style: solid; border-color: gray">
    <thead class="table-active">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Created at</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% a = 0 %>
        <% @user.surveys.each do |survey| %>
        <td><%= survey.title %></td>
        <td><%= survey.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe, survey, class: "btn btn-primary btn-sm"%></td>  
        <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_survey_path(survey), class: "btn btn-info btn-sm" %> </td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, survey, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-2">
        <%= link_to 'New Survey', new_survey_path, class: "btn btn-success" %>
        <% if @user.surveys.exists? %>
          <%= link_to 'Dashboard', dashboard_path(@dashboard), class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>

</section>