
<% if user_signed_in? %>

	<p> Voici ton ID : <%= current_user.id %> </p>

	</br>
	<div id="form-survey" class="form">
	  <%= form_tag(surveys_path, method: :post, class: "form") do %>
	    <label for="title">Title of the survey
	    <%= text_field_tag  :title %> </br>
	    
	    <label for="user_id"> User_ID (à changer après)
	    <%= text_field_tag  :user_id %>

	  	<%= submit_tag 'create', :name => 'commit'%>
	  <% end %>
	</div>


	<hr> 

	<p> Maintenant, tu peux ajouter jusqu'à 5 questions ! Tu peux aussi les supprimer si elles ne te conviennent pas </p>



  <!-- si le user n'est pas connecté alors on le renvoit vers les liens -->
  <% else %>
  
      <%= link_to "Sign in", new_user_session_path %>


      <%= link_to "Sign up", new_user_registration_path %>


  <% end %>








