  
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %><br>
  <% i = 0 %>
  <% @survey.questions.each do |q| %>
  <strong>Question n°<%= i = i + 1 %></strong><br>
  <%= q.content %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>