<% if @survey.user_id == current_user.id %>
<section class="py-5 bg-secondary" style="min-height: 84%">

<% if flash[:create] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="alert-inner--icon"><i class="fas fa-check-square"></i></span>
    <span class="alert-inner--text"><strong>Success!</strong> Survey was successfully created !</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:update] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span class="alert-inner--icon"><i class="fas fa-check-square"></i></span>
    <span class="alert-inner--text"><strong>Success!</strong> Survey was successfully updated !</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

			<div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <h2><%= @survey.title %></h2>
                </div>
                <form>      
                  <% i = 0 %>
	 	  						<% @survey.questions.each do |q| %>	          	
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">                     
                      <input class="form-control" placeholder="<%= q.content %>" disabled>
                    </div>
                  </div>
                  <br>
                    <% if q.answered == false %>
                      <%= link_to 'answer question', new_answer_path(q)  %>
                    <% else %>
                      <div style='color: green;'>Answered!</div>
                    <% end %>
                  <% end %>
                </form>
                <strong>Average Rating</strong><br>
                  <% average = [] %>
                  <% @survey.answers.each do |a| %>
                    <% average << a.value %>
                  <% end %>
                  <% result = average.sum / average.size.to_f %>
                  <%= result %> /4 <br>
                  <br>
                <div class="row justify-content-around mt-3">
		              <div class="col-3">
		                <%= link_to 'Edit', edit_survey_path(@survey), class: "btn btn-info" %>
		              </div>
		              <div class="col-3 text-right">
		                <%= link_to 'Back', surveys_path, class: "btn btn-danger" %>
		              </div>
            		</div>
                  <hr>
                  <%= form_for List.new , url: lists_path do |f| %>
                    <div class="form-group mb-3">
 
                        <label for="email"> Entre les emails des destinataires de la survey séparés par une virgule et un espace (a, b, ..) </label> </br>
                        <%= f.text_field :email, class: "form-control", placeholder: "jack@gmail.com, brigitte@gmail.com" %> </br>

                    </div>

                    <%= f.submit 'create', :name => 'commit', :value => 'Envoyer', class: "btn btn-success" %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
<% else %>
<% controller.redirect_to root_path %>
<% end %>

<!-- test pour rediriger vers la landing --> 

<%= link_to 'Go to landing', landing_path(@landings), class: "btn btn-info" %>


</section>