<% if current_user = @survey.user_id %>
<section class="py-5 bg-secondary" style="min-height: 84%">

	<p id="notice"><%= notice %></p>

			<div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <h2><%= @survey.title %></h2>
                </div>
                <form>      
                  <% i = 0 %>
	 	  						<% @survey.questions.each do |q| %>	          	
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">                     
                      <input class="form-control" placeholder="<%= q.content %>" disabled>
                    </div>
                  </div>
                  <br>
                  <% end %>
                </form>
                <div class="row justify-content-around mt-3">
		              <div class="col-3">
		                <%= link_to 'Edit', edit_survey_path(@survey), class: "btn btn-info" %>
		              </div>
		              <div class="col-3 text-right">
		                <%= link_to 'Back', surveys_path, class: "btn btn-danger" %>
		              </div>
            		</div>
                  <hr>
                  <%= form_for List.new , url: lists_path do |f| %>
                    <div class="form-group mb-3">
 
                        <label for="email"> Entre les emails des destinataires de la survey séparés par une virgule et un espace (a, b, ..) </label> </br>
                        <%= f.text_field :email, class: "form-control", placeholder: "jack@gmail.com, brigitte@gmail.com" %> </br>

                    </div>

                    <%= f.submit 'create', :name => 'commit', :value => 'Envoyer', class: "btn btn-success" %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
<% else %>
<% controller.redirect_to root_path %>
<% end %>




</section>