<h1>Your Dashboard</h1>
<br>
<h4>You have <%= @user.surveys.count %> surveys created</h4>
<br>
<% @user.surveys.each do |user_s| %>
	<strong>Survey : </strong><%= user_s.title %><br>
  <% average = [] %>
  <% user_s.questions.each do |q| %>
    <strong>Question :</strong><%= q.content %><br>
    <strong>- Answers :</strong><% q.answers.each do |qa| %>
                  <%= qa.value%> / 
                  <% average << qa.value %>
                <% end %><br>
  <% end %>
  <% result = average.sum / average.size.to_f %>
  <strong>The average for this survey is </strong><%= result %> /4 <br><br>
<% end %>
<br>
<br>

<strong>Your company : </strong><%= @user.username %><br>
<strong>Your email adress :</strong><%= @user.email %><br>
<strong>You created </strong><%= @user.surveys.count %><strong> surveys</strong><br>
<%= link_to "Edit your profile", edit_user_registration_path %><br><br>