<strong>DASHBOARD ID :</strong><%= @dashboard.id %><br>
<strong>DASHBOARD USER_ID :</strong><%= @dashboard.user_id %><br>
<strong>SURVEYS IDs FOR THIS USER :</strong><% @user.surveys.each do |user_s| %>
                                        <%= user_s.id %> / 
                                        <% end %><br>
<strong>SURVEYS titles FOR THIS USER :</strong><% @user.surveys.each do |user_s| %>
                                        <%= user_s.title %> / 
                                        <% end %><br>
<strong>QUESTIONS FOR THIS USER :</strong><% @questions.each do |q| %>
                                          survey_id :<%= q.survey_id %> /
                                          question_id :<%= q.id %> /
                                          content : <%= q.content %><br>
                                          <% end %>
<br>
<br>
<br>
<strong>PROFIL INFOS :</strong><br>
<strong>My email : </strong> <%= @user.email %><br>
<strong>My Company : </strong> <%= @user.company %><br>


<h3>Ajouter ici lien pour edit profil</h3>
<h3>Ajoiter lien pour edit password</h3>